name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --file Documents/drop_dilitrust/file_hanlder/dockerfile --tag file_handler:$(date +%s)
    - name: Publish Docker
      uses: elgohr/Publish-Docker-Github-Action@2.10
      with:
        # The name of the image you would like to push
        name: file_handler
        # The login username for the registry
        username: thiernodiallo58
        # The login password for the registry
        password: MaRiamabalike88
        # Use registry for pushing to a custom registry
        registry: https://hub.docker.com/repository/docker/thiernodiallo88/mousto_test
        # Use snapshot to push an additional image
        # Use dockerfile when you would like to explicitly build a Dockerfile
        dockerfile: Documents/drop_dilitrust/file_hanlder/dockerfile
        # Use workdir when you would like to change the directory for building
        #workdir: 
        # Use buildargs when you want to pass a list of environment variables as build-args
        #buildargs: # optional
        # Use cache when you have big images, that you would only like to build partially
        #cache: # optional
        # Use tag_names when you want to push tags/release by their git name
        tag_names: 1.0.0
